.nav {
transition-duration: .5s;
}
button#logout{
  background-color:transparent;
  color:#fff;
  width:100%;
  border-radius:10px;
}

body{
	font-family: 'Helvetica Neue', black;
	overflow-y:hidden;
	margin-top:-20px;
}
